<header class="layout--header">
  <a class="layout--header__link" href="index.html">Historia młynarstwa w Gdańsku</a>
</header>

<div class="layout--subheader">
  <div class="wrapper container-fluid">
    <nav class="nav-horizontal">
      <a class="nav-horizontal__link" href="poczatki.html">Początki</a>
      <a class="nav-horizontal__link" href="technologia.html">Technologia</a>
      <a class="nav-horizontal__link" href="gospodarka.html">Gospodarka</a>
      <a class="nav-horizontal__link" href="galeria.html">Galeria</a>
      <a class="nav-horizontal__link" href="index.html">Młyny Ogółem</a>
    </nav>
  </div>
</div>
