    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script src="js/design-toggler.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
  	<script src="js/lightbox.min.js"></script>
    <script>

      $(document).ready(function() {
      var NavY = $('.layout--subheader').offset().top;

      var stickyNav = function(){
      var ScrollY = $(window).scrollTop();

      if (ScrollY > NavY) {
          $('.layout--subheader').addClass('is-sticky');
      } else {
          $('.layout--subheader').removeClass('is-sticky');
      }
      };

      stickyNav();

      $(window).scroll(function() {
          stickyNav();
      });
      });

  </script>
  </body>
</html>
