// Gallery item
//
// Displays item with image in gallery


// Block
// --------------------------------------------------
.gallery-item
  display: block
  margin-bottom: 20px

// Elements
// --------------------------------------------------
.gallery-item__image
  display: block
  border: 2px solid $text-color
  width: 260px
  margin: 0 auto
  transition: all 250ms ease-out
  &:hover
    transform: scale(1.05)
    filter: brightness(120%)

  +breakpoint(tablet)
    width: 100%
