<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Historia młynarstwa w Gdańsku</title>
    <meta name="description" content="Młynarstwo w <Gdańsku">
    	<link rel="stylesheet" type="text/css" href="../css/lightbox.css">
      <link rel="stylesheet" href="../css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <body>
